div#sidebar-collapse.sidebar
  ul.nav.menu
    li(class=title=='snschat'?'active':undefined)
      a(href="/")
        | Home
        span.glyphicon.glyphicon-home.pull-right

    li(class=title=='snschat - chat'?'active':undefined)
      a(href="/chat")
        | Chat
        span.glyphicon.glyphicon-comment.pull-right
    li(class=title=='snschat - employees'?'active':undefined)
      a(href="/employees")
        | Employees
        span.glyphicon.glyphicon-user.pull-right
    li(class=title=='snschat - customers'?'active':undefined)
      a(href="/customers")
        | Customers
        span.glyphicon.glyphicon-user.pull-right
    li(class=title=='snschat - categories'?'active':undefined)
      a(href="/categories")
        | Categories
        span.glyphicon.glyphicon-user.pull-right