div#sidebar-collapse.sidebar
  ul.nav.menu
    li(class=title=='snschat'?'active':undefined)
      a(href="/")
        | home
        span.glyphicon.glyphicon-home.pull-right

    li(class=title=='snschat - chat'?'active':undefined)
      a(href="/chat")
        | chat
        span.glyphicon.glyphicon-comment.pull-right
    li(class=title=='snschat - employees'?'active':undefined)
      a(href="/employees")
        | employees
        span.glyphicon.glyphicon-user.pull-right
    li(class=title=='snschat - customers'?'active':undefined)
      a(href="/customers")
        | customers
        span.glyphicon.glyphicon-user.pull-right
    li(class=title=='snschat - categories'?'active':undefined)
      a(href="/categories")
        | categories
        span.glyphicon.glyphicon-user.pull-right
